.why-cont{
    display: flex;
    justify-content: space-evenly;
}
.why-cont-main{
    width: 25vw;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    display: flex;
    flex-direction: column;
}
.why-img{
    height: 220px;
    border-radius: 30px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    width: 65%;
    margin: 10px auto 0;
}
.why-details{
    margin: 10px;
    text-align: center;
}
.why-details .why-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin: 20px 20px 10px;
}
.why-details hr{
    width: 250px;
    margin: 0 auto;
    border: 1px solid black;
}
.why-details .why-desc{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1px;
}
@media (max-width:600px) {
    .why-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.why-cont-main{
    width: 70vw;
    margin: 20px;
}
.why-img{
    height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 75%;
    margin: 0 auto;
}
.why-details .why-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin: 20px 20px 10px;
    font-size: 3.5vw;
}
.why-details hr{
    width: 10vw;
    margin: 0 auto;
    border: 1px solid black;
}
.why-details .why-desc{
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    letter-spacing: 1px;
}
}