#blogs{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.blog-image{
    height: 200px;
    width: 250px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.blog-cont:hover{
    transform: scale(1.2);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;    
}
@media (max-width:600px) {
    #blogs{
    flex-direction: column;
    align-items: center;
    height:500px;
    justify-content: space-around;
    padding: 20px;
}
    .blog-image{
    height: 150px;
    width: 250px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
}