#service{
    display: flex;
    justify-content: space-around;
    padding: 30px;

}
.service-desc{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
@media (max-width:600px) {
   #service{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}
.service-desc{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 140;
}

}