#service{
    display: flex;
    justify-content: space-around;
}
.service-cont{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 75vw;
    padding: 20px;  
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
}
.service-desc{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    padding: 10px;
}
@media (max-width:600px) {
   #service{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}
.service-desc{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 140;
    padding: 10px;
}

}

.service-cont:hover{
    transform: scale(1);
    background-color: black;
    color: white;
    border-radius: 10px 100px / 120px;
    transition: all 0.5s ease-in-out;
}
