.Banner{
    display: flex;
    flex-direction: column;
    /* justify-content: baseline; */
    align-items: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 150px;
    padding: 50px;
    height: 100vh;
    animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.head-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:600px) {
    .Banner{
        flex-direction: column;
        align-items:center;
        justify-content:space-around;
        margin-top: 30vh;
        height: 30px;
        float:right;
        opacity: 0.6;
        background-color: gold;
        width: 50vw;
    }
    .head-info{
        font-size: 25px;
        margin: 0;
        width:70vw;
        text-align: center;
        /* line-height: 20px; */
    }
    .head-info-body{
      font-size: 20px;
    }
}