.Banner{
    display: flex;
    flex-direction: column;
    /* justify-content: baseline; */
    align-items: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 150px;
    padding: 50px;
    height: 100vh;
    animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.head-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:600px) {
    .Banner{
        flex-direction: column;
        align-items:center;
        height:40vh;
        float: right;
    }
    .banner-align{
      display: flex;
      flex-direction: column;
      /* justify-content:flex-end;
      align-items: end; */
      padding: 30px;
      background-color: white;
      
    }
.head-info{
  font-size: 20px;
  text-align: center;
}
.head-info-body{
  font-size: 20px;
  text-align: center;
}
}