*{
  margin: 0;
  padding: 0;
}
.container{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.app-cont{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.head-cont{
  background-image: url('https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260_1280.jpg');
  background-size: cover;
}
