*{
  margin: 0;
  padding: 0;
}
.container{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.app-cont{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.head-cont{
  background-image: url('https://cdn.pixabay.com/photo/2022/04/04/16/41/technology-7111795_1280.jpg');
  background-size: cover;
}
