
.client-head{
    margin: 10px auto;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 1rem;
    
}
.client-head:hover{
   color: gray;
}
 .client-cont{
    display: flex;
    justify-content:space-around;
    padding-bottom: 10px;  
 }    

 @keyframes MoveRTL {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

 .client-cont-main{
    animation: MoveRTL 10s linear infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }
 .client-details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .client-details .client-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
 }
 .client-details .client-pro{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: italic;
 }
 .client-details .client-desc{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 5px;
 }
@media (max-width:600px){
    .client-cont{
        flex-direction: column;
        align-items: center;
    }
    .client-cont-main{
        animation: none;
        margin: 20px;
    }
}